<style>
    #busuanzi_container_site_pv {
        display: inline !important;
    }
</style>
<script async src="https://busuanzi.icodeq.com/busuanzi.pure.mini.js"></script>
<div align="center">
    <span class="counter-site">
        <span id="busuanzi_container_site_uv">
            Unique visitors: <span id="busuanzi_value_site_uv"></span>
        </span>
    </span>
</div>
<div align="center">
    <span class="counter-page">
        <span id="busuanzi_container_page_pv">
            Page hits: <span id="busuanzi_value_page_pv"></span>
        </span>
    </span>
</div>
<div align="center">
    <span class="counter-site">
        <span id="busuanzi_container_site_pv">
            Site hits: <span id="busuanzi_value_site_pv"></span>
        </span>
    </span>
</div>